@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  position: absolute;
  top: 0;
  display: none;
  z-index: 1;
}
.modal-content-rating {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 700px;
  height: 650px;
  background-color: #c4c9c7;
  border-radius: 4px;
  text-align: center;
  padding: 20px;
  position: relative;
}
.modal-streetview-container {
  width: 85%;
  height: 150px;
  margin: 10px 60px;
}
.modal-content-creating ul {
  height: 150px;
  overflow-y: auto;
  background-color: #f1f1f1;
}
.close-modal {
  position: absolute;
  top: 0;
  right: 14px;
  font-size: 32px;
  transform: rotate(45deg);
  cursor: pointer;
  outline: none;
}
form p {
  display: flex;
  flex-direction: column;
}
label {
  margin: 10px;
}
textarea {
  outline: none;
}
select {
  margin: auto;
  width: 80px;
  outline: none;
}
input {
  width: 5rem;
  height: 35px;
  margin: 10px;
  background: #fff;
  min-width: 100px;
  border-radius: 10px;
  color: #222;
  font-size: 14px;
  padding-top: 2px;
  cursor: pointer;
}
